<footer>
    <img class="logo" src="assets/imagenes/path1.png" alt="Logo BusAndCo">
    <section class="enlaces">
        <a routerLink="/aviso-legal" href="">Aviso legal</a>
        <a routerLink="/politica-privacidad" href="">Política de privacidad</a>
        <a routerLink="/login" href="">Área privada</a>
    </section>
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://busandco.vercel.app">Bus&Co</a>, de <span property="cc:attributionName">BusAndCo</span>, bajo licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>
    <p>Iconos de <a href="http://chromicons.com" target="_blank">Chromicons</a>, bajo licencia <a href="https://opensource.org/license/mit" target="_blank">MIT</a></p>
</footer>