<main class="main main-login">
    <section class="card login">
            <div class="formulario">
                <div class="campo usuario">
                    <label for="user">Usuario: *</label>
                    <input [(ngModel)]="this.username" type="text" id="user" placeholder="Introduce tu usuario">
                </div>
                <div class="campo contrasena">
                    <label for="password">Contraseña: *</label>
                    <input (keyup)="passwordEnter($event)" [(ngModel)]="this.password" type="password" id="password" placeholder="Introduce tu contraseña">
                </div>
                <button (click)="login()" class="boton iniciar-sesion">Iniciar sesión</button>
                @if(credencialesIncorrectas){
                    <p class="error">Usuario o contraseña incorrectos</p>
                }
            </div>
    </section>
</main>
