.linea-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.linea{
    display: flex;
    gap: 20px;
    align-items: center;
}
.linea h3{
    font-size: 24px;
}
.botones{
    display: flex;
    gap: 10px;

}
.boton-secundario{
    padding: 10px 20px;
}
.editar:hover{
    background-color: #06D6A04D;
    border-color: var(--verde);
    transition: all 0.5s;
}
.eliminar{
    border-color: var(--rojo);
    transition: all 0.5s;
}
.eliminar:hover{
    background-color: rgb(246, 96, 96, 0.3);
    border-color: var(--rojo);
    transition: all 0.5s;
}
.popup{
    visibility: hidden;
    width: 0;
    height: 0;
 }
 .popup-activo{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .cuadro-confirmacion{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 50px;
 }
 .botones-confirmacion{
    display: flex;
    gap: 20px;
    justify-content: center;
 }
 .boton{
    padding: 0 20px;
 }
@media(max-width: 600px){
    .botones{
        flex-direction: column;
    }
}
@media(max-width: 450px){
    .boton-secundario{
        padding: 10px 10px;
    }
}
@media(max-width: 400px){
    .linea-admin{
        align-items: flex-start;
        flex-direction: column;
    }
    .botones{
        flex-direction: row;
    }
}