.linea-borrada-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.linea{
    display: flex;
    gap: 20px;
    align-items: center;
}
.linea h3{
    font-size: 24px;
}
.boton{
    padding: 10px 20px;
}
.boton-secundario{
    padding: 10px 20px;
}
.popup{
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
 }
 .popup-activo{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .cuadro-confirmacion{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 50px;
 }
 .botones-confirmacion{
    display: flex;
    gap: 20px;
    justify-content: center;
 }
 .boton{
    padding: 0 20px;
 }

@media(max-width: 500px){
    .linea-borrada-admin{
        align-items: flex-start;
        flex-direction: column;
    }
}