<section class="card linea-borrada-admin">
    <section class="info">
        <div class="linea">
            <h3>{{lineaBorrada.linea}}</h3>
            <p>{{lineaBorrada.empresa}}</p>
        </div>
        <p>{{lineaBorrada.descripion}}</p>
    </section>
        <button (click)="alternarPopup()" class="boton-secundario">Activar</button>
</section>
<section id="popup" [class.popup]="!popup" [class.popup-activo]="popup">
    <section class="card cuadro-confirmacion">
           <h2>¿Seguro que quiere activar la línea {{lineaBorrada.linea}}?</h2>
           <div class="botones-confirmacion">
                  <button class="boton" (click)="recuperarLinea(); popup = false">Activar</button>
                  <button class="boton-secundario" (click)="popup = false">Cancelar</button>
           </div>
    </section>
</section>